/* Colors */
:root {
  --primary: #ffa500;
  --secondary: #a52a2a;
  --normaltext: #787976;
  --titles: #484a46;
}

/* General Styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "acumin-pro";
}

/* body {
  background-image: url("./images/backgroundhome.jpg");
} */

/* Navbar Styling */
.navbar {
  background-color: transparent;
  position: fixed;
  padding: 40px 5vw;
  display: flex;
  width: 100vw;
}

.navbar.active {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0.625rem 5vw;
  transition: all 0.2s;
  z-index: 1;
}

.navbar-border {
  border: 1px solid black;
  position: absolute;
  width: 95vw;
  left: 2.5%;
  top: 2.1875rem;
}

.navbar-title {
  flex-grow: 1;
  display: flex;
}

.navbar-title-logo {
  background-image: url(./images/logo.png);
  background-position: center;
  background-size: cover;
  height: 1.3125rem;
  width: 2.05rem;
  margin-left: 5px;
}

.navbar-links {
  flex-grow: 1;
}

.navbar-links-ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

.navbar-links-ul li {
  margin: 0 1rem;
  cursor: pointer;
  font-weight: 400;
}

.navbar-links-ul li:hover {
  color: #333333;
}

/* Home Styling */
.home {
  background-image: url("./images/backgroundhome.jpg");
  background-position: 0px 0px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-container-button {
  border: 2px solid black;
  border-radius: 1.25rem;
  background-color: black;
  cursor: pointer;
  text-align: center;
  padding: 0.625rem 2.5rem;
  color: white;
}

.home-container-button:hover {
  background-color: transparent;
  color: black;
}

/* Projects Styling */
.projects {
  height: 100vh;
  scroll-snap-align: center;
  display: flex;
  padding-top: 3.75rem;
}

.projects-group {
  width: 60%;
  border: 1px solid black;
  padding-left: 1.25rem;
  display: flex;
  flex-direction: column;
}

.projects-group-title {
  font-size: 1.5rem;
  padding-bottom: 1.25rem;
}

.projects-group-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  flex-grow: 1;
}

.project {
  width: 80%;
  height: 80%;
  cursor: pointer;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1.25rem;
}

.project-overlay {
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.25rem;
}

.project-overlay:hover {
  opacity: 1;
  transition: all 0.3s;
}

.one {
  background-image: url(./images/project-notes.png);
}

.two {
  background-image: url(./images/project-weather.png);
}

.three {
  background-image: url(./images/project-calculator.png);
}

.projects-preview {
  width: 40%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.projects-preview-title {
  display: flex;
  justify-content: center;
  padding-bottom: 1.25rem;
  font-size: 1.5rem;
}

.projects-preview-project {
  flex-grow: 1;
  margin: 0px 1.25rem 3.125rem 1.25rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.25rem;
}

.projects-preview-project-container {
  height: 90%;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 1.25rem;
  padding: 1.25rem;
  color: white;
}

/* About Styling */
.about {
  display: flex;
  height: 100vh;
  scroll-snap-align: center;
}

.about-image {
  width: 36%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-image-circle {
  width: 31.25rem;
  height: 31.25rem;
  border-radius: 15.625rem;
  background-image: url("./images/aboutphotography.jpg");
  background-size: cover;
  background-position: 100%;
}

.about-description {
  padding: 1.25rem 5rem;
  width: 64%;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-description h5 {
  color: var(--secondary);
}

.about-description h2 {
  margin-bottom: 1.625rem;
  font-size: 2.75rem;
  font-weight: 800;
}

/* Contact Styling */
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.25rem;
  height: 100vh;
  scroll-snap-align: center;
  padding-top: 2.5rem;
}

.contact h1 {
  padding-bottom: 2.5rem;
}

.contact-form {
  width: 40%;
  padding: 0 2.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form input {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 15%;
  margin-bottom: 1.25rem;
  padding: 2.5rem;
  font-size: 1.25rem;
  border-radius: 1.5625rem;
  font-size: 1rem;
  border: none;
  color: white;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: white;
  font-size: 1.25rem;
}

.contact-form textarea {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  border: none;
  border-radius: 1.5625rem;
  font-family: Arial;
  font-size: 1rem;
  padding: 1.25rem;
  resize: none;
  color: white;
  margin-bottom: 0.675rem;
  font-size: 1.25rem;
}

.contact-form button {
  width: 35%;
  height: 3.75rem;
  border: 2px solid black;
  border-radius: 1.5625rem;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: 0.25s;
}

.contact-form button:hover {
  background-color: transparent;
  color: black;
  transition: 0.25s;
}

.contact-icons {
  font-size: 1.875rem;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-icons-mail,
.contact-icons-phone {
  display: flex;
  margin-bottom: 1.25rem;
  align-items: center;
}

.contact-icons-mail p,
.contact-icons-phone p {
  padding-left: 0.625rem;
  font-size: 1.25rem;
  color: black;
}

.contact-icons-group {
  display: flex;
  width: 80%;
  justify-content: center;
}

.contact-icons-group div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.125rem;
  width: 3.125rem;
  border: 3px solid black;
  border-radius: 1.875rem;
  margin-left: 0.3125rem;
  transition: 0.5s;
}

.contact-icons-group div:hover {
  color: white;
  background-color: black;
  transition: 0.5s;
}

/* Footer Styling */
.footer {
  padding: 1.25rem 0.3125rem;
  color: black;
  display: flex;
  justify-content: center;
}

/* Proyects Styling */
.proyects {
  height: 100vh;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.proyects h2 {
  font-size: 2rem;
  padding-bottom: 2.5rem;
  padding-top: 2.8125rem;
}

.proyect {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.proyect-container {
  width: 60vw;
  height: 80vh;
  border-radius: 2.5rem;
  background-color: white;
  display: flex;
  padding: 3.75rem 1.25rem;
}

.proyect-container-image {
  width: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid black;
  border-radius: 1.25rem;
  padding: 20% 10%;
}

.proyect-container-description {
  width: 50%;
}

.proyect-container-description-title {
  font-size: 1.875rem;
  border-bottom: 2px solid black;
  margin: 0 0.675rem;
}

.proyect-container-description-text {
  padding: 0.9375rem 0.675rem;
}

.proyect-container-button {
  width: 100%;
  display: flex;
  justify-content: center;
}

.proyect-container-button button {
  width: 30%;
  height: 2.5rem;
  border: 2px solid black;
  border-radius: 1.5625rem;
  background-color: black;
  color: white;
  cursor: pointer;
}

/* Media Queries */
