/* General Styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "acumin-pro";
}

/* Projects Styling */
.one {
  background-image: url(./images/projectnotes.png);
}

.two {
  background-image: url(./images/projectweather.png);
}

.three {
  background-image: url(./images/projectcalculator.png);
}